body {
  margin: 0;
  color: gray;
  height: 100vh;
  & > table {
    width: 100%;
    height: 100%;
    #universe {
      width: 80%;
      background-color: gray;
    }

    #ui {
      width: 200%;
      direction: rtl;
    }
  }
}

td {
  padding: 0;
}
